body
{
	background:linear-gradient(#342e32, #1d151a);
	height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin:0;
	
	}

h1
{
	text-align: center;
	background-color: brown;
	color: black;
	}

h2
{
	text-align: center;
	color: red;
	}

h3
{
	text-align: center;
	}

a
{
	color: red;
	}

ul
{
	text-align: center;
	}